<?xml version="1.0"?>
<launch>
  <!-- 实验3: 动态会遇场景 -->

  <include file="$(find ship_navigation_sim)/launch/full_simulation.launch"/>

  <node name="experiment_runner" pkg="ship_navigation_sim" type="experiment_runner.py"
        output="screen">
    <param name="experiment_type" value="dynamic"/>
    <param name="goal_x" value="40.0"/>
    <param name="goal_y" value="0.0"/>
    <param name="timeout" value="600"/>
  </node>
</launch>